doctype html
html
  head
    title 網路飲料店
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/main.js')
  body
    h1.center 網路飲料店
    hr
    p
      | 
    block content